<div class="logo-wrapper">
  <%= link_to root_path do %>
    <%= image_tag 'logo.svg', class: 'logo show' %>
  <% end%>
</div>
<%= turbo_stream_from @game, :players %>
<h1><%= @game.uuid %></h1>
<% unless session[:player_id].present? %>
  <%= render 'players/new', game: @game, player: Player.new %>
<% end %>
<div id=<%= "#{dom_id(@game)}_start" %>>
  <%= render "games/start", game: @game, player: @player %>
</div>
<%= turbo_frame_tag "player_kind", data: {controller: 'spy'} do %>
  <%= render "players/spy", game: @game, player: @player %>
<% end %>
<%= turbo_frame_tag "#{dom_id(@game)}_players" do %>
  <div id=<%=  %>>
    <%= render "players/game_players", game: @game %>
  </div>
<% end %>
<%# link_to 'index', games_path %>
