<%= turbo_stream_from @game, :players %>
<h1><%= @game.uuid %></h1>
<div id=<%= "#{dom_id(@game)}_players_wrapper" %>>
  <%= render "players/game_players", game: @game %>
  <% if @player.new_record? %>
    <%= simple_form_for @player do |f| %>
      <%= f.input :name %>
      <%= f.association :game, as: :hidden, input_html: {value: @game.id} %>
      <%= f.button :submit %>
    <% end %>
  <% end %>
</div>
<div id=<%= "#{dom_id(@game)}_start" %>>
  <%= render "games/start", game: @game, player: @player %>
</div>
<div data-controller='spy' id=<%= "#{dom_id(@game)}_player_kind" %>>
  <% if @game.started? %>
    <div class='spy-or-word' data-spy-target='spyOrWord'>
      <% if @player.spy? %>
        spyyy
      <% else %>
        <%= @player.game.word %>
      <% end %>
    </div>
    <button type='button' data-action='spy#toggle'>show/hide</button>
  <% end %>
</div>
<%= turbo_frame_tag @game %>
<%= link_to 'index', games_path %>
<div id="spy-or-word">
</div>
